* {
  font-size: 20px;
}
body {
  background-color: #193549;
}

h1 {
  color: #ffc600;
  font-size: 40px;
  text-align: center;
}

button {
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  min-width: 250px;
  text-align: left;
  background-color: #ffc600;
  transition: background-color 0.7s ease;
}
button:hover {
  background-color: turquoise;
}

a {
  text-decoration: none;
  color: #193549;
  font-weight: bold;
}
.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  justify-content: center;
}
.grid{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media all and (min-width: 768px) {
  h1 {
    color: #ffc600;
    font-size: 70px;
  }

  button {
    font-size: 20px;
    display: block;
    margin: 20px 0px;
    
  }
  .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
  }
  .grid{
    align-items: c;
  justify-content: flex-start;
  }
}

