* {
  font-size: 20px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #193549;
}

h1 {
  color: #ffc600;
  font-size: 40px;
}

button {
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: #ffc600;
  transition: background-color 0.7s ease;
}
button:hover {
  background-color: turquoise;
}

a {
  text-decoration: none;
  color: #193549;
  font-weight: bold;
}

@media all and (min-width: 768px) {
  h1 {
    color: #ffc600;
    font-size: 70px;
  }

  button {
    font-size: 20px;
    display: block;
    margin: 20px 0px;
  }
}

.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-gap: 30px;
  justify-content: center;
}
