html {
  background: #018ded url('./images/masaaki-komori-7xP5BJ34ybg-unsplash.jpg');
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  /* border: 20px solid white;
  border-radius: 50%; */
  margin: 50px 200px;
  position: relative;
  padding: 2rem;
  /* box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2); */
}
.hours {
  position: absolute;
}
.hour1 {
  -webkit-transform: translate(75px, 15px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
  position: absolute;
}
.hour2 {
  -webkit-transform: translate(130px, 70px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
}
.hour3 {
  -webkit-transform: translate(150px, 140px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
}
.hour4 {
  -webkit-transform: translate(130px, 210px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
}
.hour5 {
  -webkit-transform: translate(75px, 265px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
}
.hour6 {
  -webkit-transform: translate(0px, 285px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
}
/* .hour7 {
  -webkit-transform: translate(0px, 30px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
} */
/* .hour8 {
  -webkit-transform: translate(0px, 30px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
} */
.hour9 {
  -webkit-transform: translate(-147px, 140px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
}
/* .hour10 {
  -webkit-transform: translate(0px, 30px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
} */
/* .hour11 {
  -webkit-transform: translate(0px, 30px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
} */
.hour12 {
  -webkit-transform: translate(0px, 0px);
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
  border-radius: 50%;
  color: white;
}

span {
  display: inline-block;
  /* margin: 1px; */
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1;
  margin-left: 137px;
  position: absolute;
  padding: 5px;
}

.clock-face {
  position: relative;
  width: 80%;
  height: 80%;
  transform: translate(
    33px,
    33px
  ); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  border-radius: 5px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(210deg); /* so all hands start at 12:00 */
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius: 4px;
}
.second-hand {
  background: linear-gradient(0deg, #e2bb39 20%, #e2bb39 100%);
}

.min-hand {
  background: linear-gradient(0deg, #2c9e10 20%, #2c9e10 100%);
}

.hour-hand {
  z-index: 10;
  width: 33%;
  left: 17%;
  background: linear-gradient(0deg, #7613f8 20%, #7613f8 100%);
}
